<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-2">
      <div class="bs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav bs-sidenav">  <!--nav-pills nav-stacked">-->
          <li class='{{ activeItem == "rhino" && "active" || "" }}'>
            <a href hm-tap='anchor("rhino")'>{{ getAboutRhino() }}</a>
          </li>
          <li class='{{ activeItem == "team" && "active" || "" }}'>
            <a href hm-tap='anchor("team")'>{{ getOurTeam() }}</a>
          </li>
          <li class='{{ activeItem == "contact" && "active" || "" }}'>
            <a href hm-tap='anchor("contact")'>{{ getContact() }}</a>
          </li>
      </ul>
    </div>
    </div>
    <div class="col-md-9" role="main">
      <!-- About RhinoIn ================================================== -->
      <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="about-rhino">{{ getAboutRhino() }}</h1>
        </div>
        <p class="lead">Originally created by a designer and a developer at Twitter, RhinoIn has become one of the most popular front-end frameworks and open source projects in the world.</p>
        <p>BLA BLA BLA.</p>
      </div>

      <!-- Our Team ================================================== -->
      <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="about-team">{{ getOurTeam() }}</h1>
        </div>
        <p class="lead">RhinoIn is maintained by the founding team and a small group of invaluable core contributors, with the massive support and involvement of our community.</p>
        <div class="list-group rhino-team">
          <div class="list-group-item">
            <!-- AS Example
            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=mdo&amp;type=follow"></iframe>
            -->
            <iframe class="github-btn" src=""></iframe>
            <a class="" href="https://github.com/demin">
              <img src="#" alt="@demin">
              <strong>Dimitry Demin</strong> <small>@demin</small>
            </a>
          </div>
          <div class="list-group-item">
            <iframe class="github-btn" src=""></iframe>
            <a class="" href="https://github.com/petrov">
              <img src="#" alt="@petrov">
              <strong>Denis Petrov</strong> <small>@petrov</small>
            </a>
          </div>
          <div class="list-group-item">
            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=antklim&amp;type=follow"></iframe>
            <a class="" href="https://github.com/antklim">
              <img src="http://www.gravatar.com/avatar/cf322dc6747f2ce32a22bc6d28458f78" alt="@antklim">
              <strong>Anton Klimenko</strong> <small>@antklim</small>
            </a>
          </div>
        </div>
        <p>Get involved with RhinoIn development by <!--<a href="https://github.com/twbs/bootstrap/issues/new">-->opening an issue<!--</a>--> or submitting a pull request.</p>
      </div>

      <!-- Contact ================================================== -->
      <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="about-contact">{{ getContact() }}</h1>
        </div>
        <address>
          <strong>{{ getPostal() }}</strong><br>
          <div ng-bind-html="getCompanyAddress()"></div>
        </address>
        <address>
          <strong>{{ getPhones() }}</strong><br>
          <div ng-bind-html="getCompanyPhones()"></div>
        </address>
        <div ng-bind-html="getCompanyEmails()"></div>
      </div>
    </div>
  </div>

</div>