<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-2">
      <div class="bs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav bs-sidenav">  <!--nav-pills nav-stacked">-->
          <li class='{{ activeItem == "rhino" && "active" || "" }}'>
            <a href hm-tap='anchor("rhino")'>{{ getAboutRhino() }}</a>
          </li>
          <li class='{{ activeItem == "team" && "active" || "" }}'>
            <a href hm-tap='anchor("team")'>{{ getOurTeam() }}</a>
          </li>
          <li class='{{ activeItem == "contact" && "active" || "" }}'>
            <a href hm-tap='anchor("contact")'>{{ getContact() }}</a>
          </li>
      </ul>
    </div>
    </div>
    <div class="col-md-9" role="main">
      <!-- About RhinoIn ================================================== -->
      <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="about-rhino">{{ getAboutRhino() }}</h1>
        </div>
        <div ng-bind-html="getAboutRhinoText()"></div>
      </div>

      <!-- Our Team ================================================== -->
      <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="about-team">{{ getOurTeam() }}</h1>
        </div>
        <!--<p class="lead">RhinoIn is maintained by the founding team and a small group of invaluable core contributors, with the massive support and involvement of our community.</p>-->
        <!--<p class="lead">RhinoIn is maintained by BLA BLA.</p>-->
        <div ng-bind-html="getOurTeamText()"></div>
        <div class="list-group rhino-team">
          <div class="list-group-item">
            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=demin&amp;type=follow"></iframe>
            <a class="" href="https://github.com/demin">
              <img src="#" alt="@demin">
              <strong>Dimitry Demin</strong> <small>@demin</small>
            </a>
          </div>
          <div class="list-group-item">
            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=petrov&amp;type=follow"></iframe>
            <a class="" href="https://github.com/petrov">
              <img src="#" alt="@petrov">
              <strong>Denis Petrov</strong> <small>@petrov</small>
            </a>
          </div>
          <div class="list-group-item">
            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=antklim&amp;type=follow"></iframe>
            <a class="" href="https://github.com/antklim">
              <img src="#" alt="@antklim">
              <strong>Anton Klimenko</strong> <small>@antklim</small>
            </a>
          </div>
        </div>
      </div>

      <!-- Contact ================================================== -->
      <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="about-contact">{{ getContact() }}</h1>
        </div>
        <div class="row">
          <div class="col-md-9">

            <form role="form">
              <div ng-bind-html="getEnterEmail()"></div>
              <div ng-bind-html="getEnterSubject()"></div>
              <div ng-bind-html="getMessage()"></div>
              <button type="submit" class="btn btn-default" id="message">{{ getSendEmail() }}</button>
            </form>

          </div>
          <div class="col-md-3">

            <address>
              <strong>{{ getPostal() }}</strong><br>
              <div ng-bind-html="getCompanyAddress()"></div>
            </address>
            <address>
              <strong>{{ getPhones() }}</strong><br>
              <div ng-bind-html="getCompanyPhones()"></div>
            </address>
            <div ng-bind-html="getCompanyEmails()"></div>

          </div>
        </div>

      </div>
    </div>
  </div>

</div>