<div class="container">
<!--
<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9" role="main">
      <div class="bs-docs-section">
        <div class="page-header"></div>
-->        
      <address>
        <strong>{{ getCompanyName() }}</strong><br>
        <div ng-bind-html="getCompanyAddress()"></div>
        <div ng-bind-html="getCompanyPhone()"></div>
      </address>
      <address>
        <strong>{{ getCompanyContactName() }}</strong><br>
        <div ng-bind-html="getCompanyEmail()"></div>
      </address>
<!--
      </div>
    </div>
  </div>
</div>
-->
</div> <!-- /container -->
