<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>{{ home_head }}</h1>
    <p>{{ home_body }}</p>
    <p><a class="btn btn-primary btn-lg" role="button">{{ learn }}</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h3>{{ news_head[0] }}</h3>
      <p>{{ news_body[0] }}</p>
      <p><a class="btn btn-default" href="#" role="button">{{ view }}</a></p>
    </div>
    <div class="col-md-4">
      <h3>{{ news_head[1] }}</h3>
      <p>{{ news_body[1] }}</p>
      <p><a class="btn btn-default" href="#" role="button">{{ view }}</a></p>
   </div>
    <div class="col-md-4">
      <h3>{{ news_head[2] }}</h3>
      <p>{{ news_body[2] }}</p>
      <p><a class="btn btn-default" href="#" role="button">{{ view }}</a></p>
    </div>
  </div>
</div> <!-- /container -->