<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-2">
      <div class="bs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav bs-sidenav">
          <li class='{{ activeItem == "rhino" && "active" || "" }}'>
            <a href hm-tap='anchor("rhino")'>{{ aboutRhino }}</a>
          </li>
          <li class='{{ activeItem == "team" && "active" || "" }}'>
            <a href hm-tap='anchor("team")'>{{ ourTeam }}</a>
          </li>
          <li class='{{ activeItem == "contact" && "active" || "" }}'>
            <a href hm-tap='anchor("contact")'>{{ contact }}</a>
          </li>
      </ul>
    </div>
    </div>
    <div class="col-md-9" role="main">
      
      <!-- News Container ================================================== -->
      <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="about-rhino">{{ aboutRhino }}</h1>
        </div>
        <div ng-bind-html="aboutRhinoText"></div>
      </div>

    </div>
  </div>

</div>