<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-2">
      <div class="bs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav bs-sidenav">
          <li class='{{ activeItem == "products" && "active" || "" }}'>
            <a href hm-tap='anchor("products")'>{{ getProducts() }}</a>
          </li>
          <li class='{{ activeItem == "plugins" && "active" || "" }}'>
            <a href hm-tap='anchor("plugins")'>{{ getOurPlugins() }}</a>
          </li>
      </ul>
    </div>
    </div>
    <div class="col-md-9" role="main">
      <!-- Products ================================================== -->
      <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="prod-products">{{ getProducts() }}</h1>
        </div>
        <div ng-bind-html="getProductsText()"></div>
      </div>

      <!-- Our Plugins ================================================== -->
      <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="prod-plugins">{{ getOurPlugins() }}</h1>
        </div>
        <div ng-bind-html="getOurPluginsText()"></div>
      </div>
    </div>
  </div>
</div>