<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-2">
      <div class="bs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav bs-sidenav">
          <li class='{{ activeItem == "consulting" && "active" || "" }}'>
            <a href hm-tap='anchor("consulting")'>{{ consulting }}</a>
          </li>
          <li class='{{ activeItem == "optimization" && "active" || "" }}'>
            <a href hm-tap='anchor("optimization")'>{{ optimization }}</a>
          </li>
          <li class='{{ activeItem == "search" && "active" || "" }}'>
            <a href hm-tap='anchor("search")'>{{ search }}</a>
          </li>
      </ul>
    </div>
    </div>
    <div class="col-md-9" role="main">
      <!-- Consulting ================================================== -->
      <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="prod-products">{{ consulting }}</h1>
        </div>
        <div ng-bind-html="consultingText"></div>
      </div>

      <!-- Optimization ================================================== -->
      <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="prod-plugins">{{ optimization }}</h1>
        </div>
        <div ng-bind-html="optimizationText"></div>
      </div>

      <!-- Search ================================================== -->
      <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="prod-plugins">{{ search }}</h1>
        </div>
        <div ng-bind-html="searchText"></div>
      </div>
    </div>
  </div>
</div>