<div class="container">
  <form class="form-signin">
    <h2 class="form-signin-heading">{{ signInLabel }}</h2>
    <input type="text" class="form-control" placeholder="{{ emailPH }}" required="" autofocus="" autocomplete="off" ng-model="email">
    <input type="password" class="form-control" placeholder="{{ passwordPH }}" required="" autocomplete="off" ng-model="password">
    <label class="checkbox">
      <input type="checkbox" value="remember-me">&nbsp;{{ rememberMe }}
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit" hm-tap="signin()">{{ signInName }}</button>
  </form>
  <div class="divider-signin">
      <div class="inner">{{ divider }}</div>
  </div>

  <form class="form-signin">
    <h2 class="form-signin-heading">{{ registerLabel }}</h2>
    
    <input type="text" class="form-control" placeholder="{{ emailPH }}" required="" autocomplete="off" ng-model="email">
    <input type="password" class="form-control" placeholder="{{ passwordPH }}" required="" autocomplete="off" ng-model="password">
    
    <button class="btn btn-lg btn-primary btn-block" type="submit" hm-tap="register()">{{ registerName }}</button>
  </form>
</div>