<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>RhinoIn</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="css/rhinoin.css" rel="stylesheet" media="screen">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
  <![endif]-->
</head>

<body style="">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container" ng-controller="NavCtrl">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="" hm-tap='nav("home")'>RhinoIn</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class='{{ activeItem == "home"     && "active" || "" }}'><a href="" hm-tap='nav("home")'>{{ siteMap.home.name[ currentLang.key ] }}</a></li>
            <li class='{{ activeItem == "about"    && "active" || "" }}'><a href="" hm-tap='nav("about")'>{{ siteMap.about.name[ currentLang.key ] }}</a></li>
            <li class='{{ activeItem == "services" && "active" || "" }}'><a href="" hm-tap='nav("services")'>{{ siteMap.services.name[ currentLang.key ] }}</a></li>
            <li class='{{ activeItem == "products" && "active" || "" }}'><a href="" hm-tap='nav("products")'>{{ siteMap.products.name[ currentLang.key ] }}</a></li>
            <li class='{{ activeItem == "contact"  && "active" || "" }}'><a href="" hm-tap='nav("contact")'>{{ siteMap.contact.name[ currentLang.key ] }}</a></li>
          </ul>
          <form class="navbar-form navbar-left" role="search" ng-controller="SearchCtrl">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="{{ getPlaceholder() }}" ng-model="searchFor">
            </div>
            <button type="submit" class="btn btn-default" hm-tap="search()">{{ getButtonName() }}</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">{{ currentLang.name }}<b class="caret"></b></a>
              <ul class="dropdown-menu language-menu" role="menu">
                <li ng-repeat='lng in langList' role="presentation"><a role="menuitem" href="" hm-tap='lang( lng )'>{{ lng.name }}</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div ng-view></div>

    <div class="container">
      <hr>

      <footer>
        <p>© 2011-2013 Rhino-in-Russia. All rights reserved.</p>
      </footer>
    </div> <!-- /container -->

    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    -->
    <script data-main="js/app.js" src="lib/require/require.js"></script>
</body>

</html> 
